### HW_7 Распаковка данных
sqlalchemy / pandas

In [4]:
from sqlalchemy import create_engine

import pandas as pd
pd.set_option('display.max_columns', None)

import warnings
warnings.filterwarnings('ignore')

In [30]:
def connection_yandex_cloud_demo(echo):
    """Connection to DataBase dwh"""
    login = 'user_26'
    password = '1b37181a45a73fb15266917ec0387f04'
    host = 'rc1b-7ng6ih3jte3824x8.mdb.yandexcloud.net'
    port = '6432'
    db_name = 'demo'
    return create_engine(f'postgresql://{login}:{password}@{host}:{port}/{db_name}', echo=echo)

engine_demo = connection_yandex_cloud_demo(echo=True)

In [34]:
import os
import zipfile
with zipfile.ZipFile('fraud.csv.zip', 'r') as archive:
    archive.extractall('data/')

In [38]:
df = pd.read_csv('data/fraud.csv', sep=';')

In [40]:
df.shape

(265340, 1)

In [42]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 265340 entries, 0 to 265339
Data columns (total 1 columns):
 #   Column                                                                                                                                                                              Non-Null Count   Dtype
---  ------                                                                                                                                                                              --------------   -----
 0   ,Unnamed: 0,trans_date_trans_time,cc_num,merchant,category,amt,first,last,gender,street,city,state,zip,lat,long,city_pop,job,dob,trans_num,unix_time,merch_lat,merch_long,is_fraud  265340 non-null  object
dtypes: object(1)
memory usage: 2.0+ MB

In [44]:
df.head(5)

  ,Unnamed: 0,trans_date_trans_time,cc_num,merchant,category,amt,first,last,gender,street,city,state,zip,lat,long,city_pop,job,dob,trans_num,unix_time,merch_lat,merch_long,is_fraud
0  811778,811778,2019-12-07 10:55:06,676173792455...
1  1101718,1101718,2020-04-03 13:10:06,3051820676...
2  800013,800013,2019-12-04 07:07:04,465849081548...
3  398945,398945,2019-06-30 18:43:08,471656179695...
4  207455,207455,2019-04-15 19:57:49,352840721757...